@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?r6t8el');
  src:  url('../assets/fonts/icomoon.eot?r6t8el#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?r6t8el') format('truetype'),
    url('../assets/fonts/icomoon.woff?r6t8el') format('woff'),
    url('../assets/fonts/icomoon.svg?r6t8el#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e90f";
}
.icon-add:before {
  content: "\e900";
}
.icon-apps:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e904";
}
.icon-list-bulleted:before {
  content: "\e906";
}
.icon-moon:before {
  content: "\e907";
}
.icon-note:before {
  content: "\e908";
}
.icon-schedule:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-sun:before {
  content: "\e90c";
}
