<!-- BURGER MENU -->
    <input type="checkbox" id="sidebar_toggle" />
    <label class="sidebar_btn" for="sidebar_toggle">  <!--for - при використанні на <label>елементі він вказує на елемент форми, який описує ця мітка. -->
        <span></span>
    </label>

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h3 class="sidebar_title">SNAPPY</h3>
        <!-- SIDEBAR CONTENT -->
        <ul class="sidebar_content">
            <li>
                <a href="#" class="content_item">
                    <i class="icon-note"></i> <span>Notes</span>
                </a>
            </li>
            <li>
                <a href="#" class="content_item">
                    <i class="icon-settings"></i> <span>Settings</span>
                </a>
            </li>
        </ul>
    </aside>